@if(projekt) {
<div style="margin-bottom: 1rem"></div>
<p-floatLabel>
  <input pInputText type="text" [(ngModel)]="projekt.naziv" id="naziv" />
  <label for="naziv">Naziv projekta</label>
</p-floatLabel>
<p-floatLabel>
  <p-multiSelect
    inputId="float-label"
    [options]="korisnici"
    optionLabel="naziv"
    optionValue="id"
    [(ngModel)]="voditelji"
  />
  <label for="float-label">Voditelji projekta</label>
</p-floatLabel>

<div class="status">
  <label for="statsu">Status projekta</label>
  <p-selectButton
    [options]="moguciStatusi"
    optionLabel="label"
    optionValue="value"
    [(ngModel)]="projekt.status"
    id="statsu"
  />
</div>
<p-button label="Spremi" (onClick)="spremiIzmjene()" class="submit" />
}
