<p-floatLabel>
  <p-dropdown
    [options]="prikazi"
    optionLabel="ime"
    optionValue="ime"
    #prikazVrijednost
    (onChange)="prikaz.emit(prikazVrijednost.value)"
  ></p-dropdown>
  <label>Prikazani projekti:</label>
</p-floatLabel>

<input
  type="text"
  pInputText
  #pretragaTekst
  (input)="pretraga.emit(pretragaTekst.value)"
  placeholder="Pretraga"
/>

<p-floatLabel>
  <p-dropdown
    [options]="sortiranja"
    optionLabel="ime"
    optionValue="ime"
    #sortiranjeVrijednost
    (onChange)="sortiranje.emit(sortiranjeVrijednost.value)"
  ></p-dropdown>
  <label>Soritranje</label>
</p-floatLabel>
